<% provide(:title, "Home") %>
<div class="center jumbotron">
  <h1>Clock+</h1>

  <h2>
    Clock+ built by Shreya Samanta | s3724266@student.rmit.edu.au | Pass level | Wednesday 6:30-8:30pm

  </h2>
  <%= render 'cities/city_list' %>
</div>

