<table class = "table">
  <thead>
    <tr>
      <th style="text-align:center"> City</th>
      <th style="text-align:center">Time</th>
      <th style="text-align:center">Time Difference</th>
      <th style="text-align:center">Mode</th>
      <th style="text-align:center">Day</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cities.each do |city| %>
      <tr>
        <td><%= city.name %></td>
        <td><%= Time.use_zone(city.time_zone) {Time.current}.strftime("%k:%M") %></td>
        <td><%= city.offset-10 %>h</td>
        <td>Business</td>
        <td> Today </td>
      </tr>
    <% end %>
  </tbody>
</table>