<footer class="footer">
  <small>
    Clock+<br><br>s3724266@student.rmit.edu.au | s3724266 | Credit
  </small>
  <nav>
    <ul>
      <a href="https://guides.rubyonrails.org" class="btn btn-default" role="button" target="_blank">LinkedIn</a>
      <a href="https://guides.rubyonrails.org" class="btn btn-default" role="button" target="_blank">LinkedIn</a>
      <a href="https://guides.rubyonrails.org" class="btn btn-default" role="button" target="_blank">LinkedIn</a>
      <li><a href="http://news.railstutorial.org/">LinkedIn</a></li>
    </ul>
  </nav>
</footer>