<footer class="footer">
  <small>
    Clock+<br>s3724266@student.rmit.edu.au | s3724266 | Pass
  </small>
  <nav>
    <ul>
      <a href="https://www.facebook.com/" class="btn btn-default" role="button" target="_blank">Facebook</a>
      <a href="https://twitter.com/explore" class="btn btn-default" role="button" target="_blank">Twitter</a>
      <a href="https://au.linkedin.com/" class="btn btn-default" role="button" target="_blank">LinkedIn</a>
    </ul>
  </nav>
</footer>