<!DOCTYPE HTML>
  <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <%= link_to "Clock+", '#', id: "logo" %>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Showcase",   root_path %></li>
            <li><%= link_to "Contact Us",   contact_path %></li>
          </ul>
        </nav>
      </div>
    </header>